html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 3px;
	border-radius: 5px;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*------------------------end MEYERS RESET-----------------------*/	

body {
	max-width: 960px;
	padding-right: 2.173913%;  /*20px/960px*/
	padding-left: 2.173913%;  /*20px/960px*/
	background-color: #26315A;
	margin-left: auto;
	margin-right: auto;
	font-family: "myriad-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
}


	h1,h2 {
  font-family: "ltc-broadway-engraved",serif;
  color:#CF0;
  font-size:1.5em;
  text-align:center;
}


h2 {
  font-family: "lobster",serif;
  color:#000;
  font-size:1.313em;
  
}

	
#container {
	max-width: 95.833333%; /*920px/960px*/
	margin: auto;
	background: #26315A;
}

nav {  
    height: 30px;  
    width: 100%;  
    background: #B9CF6A;  
    font-size: 1em;  
    font-family: 'PT Sans', Arial, sans-serif;  
    font-weight: bold;  
    position: relative;  
    border-bottom: 2px solid #B9CF6AA;  
}  
nav ul {  
    padding: 0;  
    margin: 0 auto;  
    width: 600px;  
    height: 30px;  
}  

nav li {  
    display: inline;  
    float: left;  
}  

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

nav a {  
    color: #fff;  
    display: inline-block;  
    width: 100px;  
    text-align: center;  
    text-decoration: none;  
    line-height: 30px;  
    text-shadow: 1px 1px 0px #283744;  
}  

nav li a {  
    border-right: 1px solid #fff;  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
    border-right: 0;  
}  

nav a:hover, nav a:active {  
    background-color: #32546B;  
}  

nav a#pull {  
    display: none;  
}         


#cta{
	width: 100%;  /* 920px*/
	height: 100px;
	background-color:#000;
	color:#fff;
	margin-top:15px;
	
}



#main{
	width: 100%
	padding:20px
	margin: 20px;
	margin: 20px;
}

table{
	width: 56.413043%; /*519px/920*/
	height: 276px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	font-style: normal;
	border-collapse: collapse;
	float: left;
	margin: 0 auto;
	background-color: #32546B;
}


 th{
	padding-top:20px;
	padding-left:20px;
	font-size: 1.5em;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border-collapse: collapse;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    /*-webkit-border-top-left-radius:1px;
  -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;*/
    /*border-top-left-radius: 
    border-top-right-radius:5px;*/
}


	
tr{ 
	padding:20px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #81C242;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

#poster{
	float: left;
	margin-bottom: 20px;
	margin-left: 50px;
}
aside{
	height: 8.695652%;
	width: 15.000em;
	background-color: #B9CF6A;
	color: #000;
	font-family: "myriad-pro",sans-serif;
	font-style: italic;
	font-weight: 400;
	line-height: 1.5;
	font-size: 0.813em;
	float: right;
	border: 3px #fff;
	border-radius:5px;
	margin: 1.041667%;
	padding: 1.086957%; /*10px/920px*/
}

#gallery{
	width: 100%;
	clear: both;
	background-color: #fff;
	border: solid #fff 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 5px;
}

#gallery ul{
	list-style-type:none;
	margin:0, auto;
	padding:0;
	overflow:hidden;
	
}

#gallery li{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 20px
	padding-bottom:20px;
	padding-left: 5px;
	padding-right: 30px;
	float: left;
	overflow: hidden;
	margin-right: 50px;
	width: 7.608696% /*70px/920px*/	/*height:70px;*/
	
}


footer{
	max-width:100%;
	background-color:#000;
	color:#fff;
	clear:both;
	margin-top: 50px;
	
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-top: 20px;
}

footer li{
	margin-left: 5.434783%; /*50px/920px*/
	margin-right: 5.434783%; /*50px/920px*/
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 0.813em;
	padding: 5px;
	float:left;	
	
}

#box_office, {
	widows:100%; /*920px*/
	height:26.688em; /*427px*/
	margin-top: 20px;
	margin-bottom:20px;
	background-color:#fff;
}
.why_join, #board{
	background-color:#fff;
	width: 29.891304%; /*275px;*/
	float:left;
	color:#384313;
	box-shadow: 2px 2px 2px #888888;
	padding-top:20px;
	padding-bottom:50px;
	padding-left:15px;
	padding-right:15px;
	font-size:18px;
	line-height:2.5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}

form#sign_up {
background: #9cbc2c;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 20px;
width: 460px;
float:left;
}

form#sign_up fieldset {
border: none;
margin-bottom: 10px;
}
form#sign_up fieldset:last-of-type {
margin-bottom: 0;
}

form#sign_up legend {
color: #384313;
font-size: 16px;
font-weight: bold;
padding-bottom: 10px;
text-shadow: 0 1px 1px #c0d576;
}



form#sign_up fieldset fieldset legend {
color: #111111;
font-size: 13px;
font-weight: normal;
padding-bottom: 0;
}

form#sign_up ol li {
background: #b9cf6a;
background: rgba(255,255,255,.3);
border-color: #e3ebc3;
border-color: rgba(255,255,255,.6);
border-style: solid;
border-width: 2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
line-height: 30px;
list-style: none;
padding: 5px 10px;
margin-bottom: 2px;
}
form#sign_up ol ol li {
background: none;
border: none;
float: left;
}

form#sign_up label {
float: left;
font-size: 13px;
width: 110px;
}
form#sign_up fieldset fieldset label {
background:none no-repeat left 50%;
line-height: 20px;
padding: 0 0 0 30px;
width: auto;
}

form#sign_up input:not([type=checkbox]),
form#sign_up textarea {
background: #ffffff;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
font: italic 13px Georgia, "Times New Roman", Times, serif;
outline: none;
padding: 5px;
width: 200px;
}
form#sign_up input:not([type=submit]):focus,
form#sign_up textarea:focus {
background: #eaeaea;
}
form#sign_up input[type=checkbox] {
float: left;
margin-right: 5px;
}

form#sign_up button {
background: #384313;
border: none;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;
color: #ffffff;
display: block;
font: 18px Georgia, "Times New Roman", Times, serif;
letter-spacing: 1px;
margin: auto;
float:right;
padding: 7px 25px;
text-shadow: 0 1px 1px #000000;
text-transform: uppercase;
}
form#sign_up button:hover {
background: #1e2506;
cursor: pointer;
}



#tickets {
	width: 100%; /*920px*/
	margin: 2.083333; /*20px/960px*/
	margin-top:20px;
	line-height:2;
	
	
	


}

 #hours, #times{
	width: 21.739%; /* 200px*/
	height: 7.5em; /*120px*/
	background-color: #32546b;
	border: 3px #fff solid;
	border-radius: 5px;
	float: left;
	padding: 15px;
	margin-top: 15px;
	line-height: 2;	
	margin-right: 10px;
	margin-bottom: 20px;
	}

	
#prices table{
	width: 220px;
	height: 150px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	font-style: normal;
	border-collapse: collapse;
	border:3px #fff solid;
	border-radius:5px;
	float:right;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 15px;
}
	
#prices th, h2 {
	padding: 10px;
	color: #fff;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #568F23;
	border: 1px solid #93CE37;
	border-bottom: 3px solid #9ED929;
	background-color: #9DD929;
	background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
	background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: left;
}


	
	


#prices tr{ 
	padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

#notes{
	width: 920px;
	height: auto;
	background-color: rgb(255,255,255);
	margin: 20px 0px 20px 0px;
	padding: 10px;
	line-height: 1.3;
}

	


#seating{
	width: 920px;
	clear: both;
	margin: 0 auto;
	background-color: #26315A;	
}

#seating img{
	margin:0, auto;
	padding:20px 0px 20px 225px;
	
	
	}

#cta h1{
	float:right;}

/*contribute styles start here-------------------*/


#contribute{
	color: #666;
	background-color: #FFF;
	border: 4px solid #fff;
	border-radius: 5px;
	padding: 10px;
	margin: auto;
	line-height: 1.5;
}

#finance{
	margin-bottom: 20px;
	margin-top:20px;
}

.table1{
	width: 100%;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1em;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
	line-height: 1.4em;
	font-style: normal;
	border-collapse: separate;
}

td{
	padding: 10px;
	text-align: left;
	background-color: #32546B;
	border: 1px solid #999;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 2px;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

caption{
	font-size:2.5em;
	padding: 10px;
	color:#fff;
	background-color: #26325B;
	
}

td .days{ 
	text-align:left;
	color:#9C0;
}

#about{
	background-color: #B9CF6A;
	line-height: 1.5;
	font: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px;
	float: left;
	max-width: 600px;
	margin-bottom: 20px;
	}
	
#board{
	border: 3px solid #fff;
	line-height: 2;
	width: 150px;
	margin: 15px;
	clear: left;
	border-radius: 5px;
}
/*======================Media Queries=================*/
/*Tablet size to standard 960px (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width:959px) {
	
}



/*Mobile landscape to Portrait size to Tablet (devices and browser) */
@media screen and (min-width: 480px) and (max-width:767px) {
	
	
}



/*Mobile landscape to Portrait size to Tablet (devices and browser) */
@media screen and (max-width: 479px) {


}

@media screen and (max-width: 600px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
        border-right: 1px solid #576979;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  
}  

@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {
	display: block;
	background-color: #000000;
	width: 100%;
	position: relative;
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        rightright: 15px;  
        top: 10px;  
    }  
}  


@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #576979;  
    }  
}  
