html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*------------------------end MEYERS RESET-----------------------*/	

body {
	max-width: 960px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #26325b;
	margin:auto;
}
	
#container {
	width: 920px;
	margin:0, auto;
}

nav{
	max-width:920px;
	height: 30px;
	margin:0, auto;
	background-color:#03fc56;
	font-family:Tahoma, Geneva, sans-serif;
	font:#000;
}
	
nav ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

nav li{
	float:left;
}

nav a:link,a:visited{
	display:block;
	width:120px;
	height: 22px;
	font-weight:bold;
	color:white;
	text-shadow:2px 2px 4px #000000;
	color:#FFFFFF;
	background-color:#03fc56;
	text-align:center;
	padding:4px;
	text-decoration:none;

}
nav a:hover,nav a:active{
	background-color:#333;
}

#cta{
	width: 920px;
	height: 100px;
	background-color:#000;
	color:#fff;
}

#main{
	width:920;
	padding:20px;
	margin:0,auto;
}

table{
	width:521px;
	height: 354px;
	background-color:#FFF;
	margin:0,auto;
	float:left;
}


td, th, tr{
	padding:15px;
	
}

#poster{
	float:right;
}
aside{
	height: 80px;
	width: 240px;
	background-color:#93bc9d;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:1.5;
	font-size:.813em;
	float:right;
	border: 3px #000;
	margin:10px;
	padding:10px;
	
}

#gallery{
	clear:both;
	background-color:#fff;
	border:solid #000 5px;
	margin-bottom:20px;
	padding:15px;
}

#gallery ul{
	list-style-type:none;
	margin:0, auto;
	padding:0;
	overflow:hidden;
	
}

#gallery li{
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	overflow:hidden;
	margin-right:50px;
	width:70px;
	height:70px;
	
}


footer{
	max-width:920px;
	max-height:100px;
	background-color:#000;
	color:#6F0;
}

footer ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

footer li{
	float:left;
	margin-left:50px;
	margin-right:50px;
	margin-top:5px;
	margin-bottom:5px;
	font-size:.813em;
	
}

#box_office, #join{
	widows:920px;
	height:427px;
	margin: 20px;
	background-color:#fff;
}
.why_join{
	background-color:#32546b;
	width:275px;
	height:auto;
	float:left;
	box-shadow: 5px 5px 5px #888888;
	padding-top:20px;
	padding-bottom:50px;
	padding-left:15px;
	padding-right:15px;
	font-size:18px;
	line-height:2.5;
	
}